{% extends 'shop/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Shop' %}-{{product.name}}{% endblock title%}



{% block content %}

<div class="product">
	<img class="product-image" src="{{ product.photo.url }}">
	<h1>{{product.name}}</h1>
	<h2>
		<a href="{{ product.category.get_absolute_url }}">
			{{product.category}}
		</a>	
	</h2>
	<h3> $ {{ product.price }}</h3>
	<p>
		{{ product.description|linebreaks }}
	</p>
	<form id="add-to-cart-form" method='POST' action="{% url 'cart:add_to_cart' product.id %}">
		{{ add_product_form }}
		{% csrf_token %}
		<input type="submit" name="submit" value="{% trans 'Add To Cart' %}">
	</form>
</div>

{% if recommended_products %}
	<div class="recommendations">
		<h3>{% trans "People who bought this also bought" %}:</h3>
		{% for p in recommended_products %}
			<div class="item">
				<a href="{{ p.get_absolute_url }}">
					<img src="{{ p.photo.url }}">
				</a>
				<p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
			</div>
		{% endfor %}
	</div>
{% endif %}

{% endblock content %}